.App-main {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
}
.App-results {
  flex-shrink: 2;
}
.App-subtitle {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #f9c74f;
  text-align: left;
  font-family: "Exo", sans-serif;
}

.App-category {
  text-align: center;
  margin-bottom: 2rem;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .App-main {
    flex-direction: initial;
  }
  .App-category {
    position: sticky;
    top: 0;
    width: 40%;
    padding: 0 2em;
  }
}
