.Category {
  margin: 0;
  padding: 0;
}
.Category-title {
  color: #f9844a;
  font-family: "Exo", sans-serif;
}
.Category-list {
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and min-width: 768px {
  .Category-list {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}
.Category-list li {
  list-style: none;
  padding: 0.3rem;
  margin: 0.2rem;
}
.Category-link {
  text-decoration: none;
  color: #90be6d;
}
.Category-link:hover {
  color: #f9c74f;
}
