.Category {
  margin: 0;
  padding: 0;
}
.Category-title {
  padding: 0.5rem 1rem;
  background-color: var(--brand-color_5);
  text-shadow: 2px 2px 0 var(--brand-color_2);
  box-shadow: 2px 2px 0 var(--brand-color_8);
  color: var(--brand-color_8);
  font-family: "Exo", sans-serif;
}
.Category-list {
  list-style-position: inside;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}
@media screen and min-width: 768px {
  .Category-list {
    flex-wrap: nowrap;
    justify-content: flex-end;
  }
}
.Category-list li {
  list-style: none;
  padding: 0.3rem;
  margin: 0.2rem;
}
.Category-link {
  text-decoration: none;
  color: var(--theme-body-bg);
}
.Category-link:hover {
  color: white;
}
.Category-list-item:nth-child(5n + 1) {
  background-color: var(--brand-color_6);
  color: var(--theme-body-bg);
}
.Category-list-item:nth-child(5n + 2) {
  background-color: var(--brand-color_7);
  color: var(--theme-body-bg);
}
.Category-list-item:nth-child(5n + 3) {
  background-color: var(--brand-color_8);
  color: white;
}
.Category-list-item:nth-child(5n + 4) {
  background-color: var(--brand-color_9);
  color: white;
}
.Category-list-item:nth-child(5n + 5) {
  background-color: var(--brand-color_10);
  color: var(--theme-body-bg);
}
