form {
  display: flex;
  flex-flow: row;
  max-width: 800px;
}
form input {
  width: 60%;
  padding: 1rem;
  margin-right: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #577590;
  color: #f3722c;
  font-size: 1rem;
  outline: none;
}
form input::placeholder {
  font-size: 1rem;
  color: #f3722c;
}
form button {
  width: 30%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #f9c74f;
  font-size: 1rem;
  cursor: pointer;
}
form button:hover {
  background-color: #f3722c;
  color: #fff;
  transition: all 100ms ease-in;
}
