.Search-Form {
  display: flex;
  flex-direction: column-reverse;
  max-width: 800px;
  margin: auto auto 2rem auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 3px 3px 0px var(--brand-color_8);
}
@media screen and (min-width: 768px) {
  .Search-Form {
    flex-direction: row;
  }
}
.Search-Form:hover {
  box-shadow: 3px 3px 3px var(--brand-color_1);
  transition: all 150ms ease-in-out;
}
.Search-Form input {
  padding: 1rem;
  font-family: var(--font-primary);
  border: none;
  background-color: white;
  color: var(--brand-color_9);
  font-size: 1rem;
  outline: none;
}

.Search-Form input::placeholder {
  font-size: 1rem;
  color: var(--brand-color_10);
  font-family: var(--font-primary);
}
.Search-Form button {
  padding: 1rem;
  border: none;
  background-color: var(--brand-color_6);
  color: var(--brand-color_10);
  font-size: 1rem;
  cursor: pointer;
  font-family: var(--font-primary);
}
.Search-Form button:hover {
  background-color: var(--brand-color_4);
  color: var(--brand-color_9);
  transition: all 100ms ease-in;
}
.Search-Form select {
  padding: 1rem;
  font-family: var(--font-primary);
  border: none;
  outline: none;
  background-color: var(--brand-color_3);
  color: var(--brand-color_10);
  cursor: pointer;
}
