.App-header {
  display: flex;
  justify-content: flex-end;
}

.App-header a:hover,
.App-header button:hover {
  border-bottom: 2px solid var(--brand-color_10);
  color: var(--brand-color_4);
  transition: all 150ms ease-in-out;
}

.App-header button,
.App-header a {
  width: 100px;
  height: 40px;
  padding: 0.5rem 1rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  font-family: var(--font-primary);
}
