.Gif {
  margin: 1remauto;
  padding: 0.5rem;
  width: 80%;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  color: white;
  text-decoration: none;
  border: 1px solid #eee;
  border-radius: 15px;
}
.Gif h4 {
  margin: 0;
}
.Gif img {
  width: 80%;
  margin: auto;
  border-radius: 15px;
}
