.App-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App-title {
  font-family: var(--font-primary);
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  text-align: center;
  color: var(--brand-color_2);
  background-color: var(--brand-color_7);
  text-shadow: 2px 2px 0 var(--brand-color_10);
  box-shadow: 2px 2px 0 var(--brand-color_5);
}
