.App {
  text-align: center;
}
.App-Content {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #000814;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}
.text-gradient {
  font-family: "Exo", sans-serif;
  font-size: 4rem;
  font-weight: 900;
  text-align: center;
  background-color: #f94144;
  background-image: linear-gradient(
    45deg,
    #f3722c 16.666%,
    #f8961e 16.666%,
    #f9844a 33.333%,
    #f9c74f 33.333%,
    #90be6d 50%,
    #43aa8b 50%,
    #4d908e 66.666%,
    #577590 66.666%,
    #277da1 83.333%
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-gradient:hover {
  animation: rainbow-text-simple-animation 0.5s ease-in forwards;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .text-gradient {
    font-size: 6rem;
  }
}
@keyframes rainbow-text-simple-animation-rev {
  0% {
    background-size: 150%;
  }
  40% {
    background-size: 150%;
  }
  100% {
    background-size: 100%;
  }
}
@keyframes rainbow-text-simple-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 150%;
  }
  100% {
    background-size: 150%;
  }
}
