.App {
  text-align: center;
}
.App-Content {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-body-bg);
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}
