:root {
  --font-size: 16px;
  --font-primary: "Exo", sans-serif;
  --theme-body-bg: #000814;
  --brand-color_1: #f94144;
  --brand-color_2: #f3722c;
  --brand-color_3: #f8961e;
  --brand-color_4: #f9844a;
  --brand-color_5: #f9c74f;
  --brand-color_6: #90be6d;
  --brand-color_7: #43aa8b;
  --brand-color_8: #4d908e;
  --brand-color_9: #577590;
  --brand-color_10: #277da1;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

//https://coolors.co/f94144-f3722c-f8961e-f9844a-f9c74f-90be6d-43aa8b-4d908e-577590-277da1
